<div class="task-enter">
  <form (click)="activeTrue()">
    <div class="time-date-picker" *ngIf="active">
      <div class="datepicker">
        <input
          placeholder="Start Date"
          name="dp"
          [(ngModel)]="start_time"
          ngbDatepicker #d="ngbDatepicker"
          autocomplete="off"
          (click)="d.toggle()"
        >
      </div>

      <div class="timepicker">
        <div>/</div>
        <input
          [(ngModel)]="duration"
          name="duration"
          type="number"
          placeholder="Duration"
          autocomplete="off"
          aria-label=""
          aria-describedby="basic-addon1">
      </div>
    </div>

    <!--name-->
    <div class="task-description"
         [ngClass]="active? 'task-description': 'task-description-inactive'"
    >
      <textarea
        [(ngModel)]="name"
        name="name"
        class="task-name-input"
      >
      </textarea>
    </div>

    <div class="label-div" *ngIf="active">
      <!--labels-->
      <ng-multiselect-dropdown
        [placeholder]="'Labels'"
        [data]="labels"
        [(ngModel)]="label"
        [settings]="dropdownSettings"
        name="label"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (onDeSelect)="onItemDeSelect($event)"
        *ngIf="active"
      >
      </ng-multiselect-dropdown>
      <app-label-add (createdLabel)="newLabelToList($event)"></app-label-add>
      <div>
        <i class="fas fa-check-circle" (click)="onTaskSubmit(); activeFalse();"></i>
      </div>
    </div>
  </form>
</div>


<div class="taskList">
  <p class="task-list-header"><strong>Active Tasks</strong></p>
  <div class="list-of-tasks">
    <app-task-list
      class=""
      *ngFor="let task of tasks; let i = index"
      [listItem]="task"
      (removeTask)="deleteTaskFromActiveTasks(task); moveTaskToCompletedTasks($event)"
      (completeTaskEmit)="deleteTaskFromView(task)"
      (removeTaskIndex)="removeTaskByIndex($event)"
      (editTask)="updateEditedTask($event)"
    ></app-task-list>
  </div>
  <br>
  <div class="taskList">
    <p class="task-list-header"><strong>Task Archive</strong></p>
    <div class="list-of-tasks">
      <app-completed-tasks
        class=""
        *ngFor="let task of completedTasks; let i = index"
        [completedTask]="task"
        (removeCompletedTask)="deleteCompletedTask(task)"
      ></app-completed-tasks>
    </div>
  </div>
</div>


