.task-input {
  padding-top: 50px;
  width: 80%;
  padding-left: 15%;
  text-align: center;
}

.taskList {
  margin-top: 5%;
}

.task-name-input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0 !important;
}

.task-list-header {
  text-align: left;
  color: gray;
}


#inputGroupSelect01 > div > div:nth-child(1) {
  border: 0;
  padding: 0;
}

#inputGroupSelect01 > div {
  border: 0;
  padding: 0;
}

#inputGroupSelect01 > div > div:nth-child(1) > span {
  padding: 0;
  border: 0 !important;
}

#inputGroupSelect01 {
  padding: 0px;
}


 :host /deep/ .multiselect-dropdown[_ngcontent-c5]   .dropdown-btn[_ngcontent-c5] {
  display: inline-block;
  border: 0 !important;
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.52857143;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 4px
}

:host /deep/ @media only screen and (max-width: 900px) {
  [class*="col-"] {
    width: 100% !important;
  }
}

