.task-enter {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 50%;
  text-align: center;
  margin: 35px auto;
}

.task-enter form {
  grid-column: 1 / span 2;
  width: 100%;
}

.task-enter:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.time-date-picker {
  display: grid;
  width: 200px;
}

.datepicker {
  grid-column: 1 / span 1;
  width: 100%;
}

.datepicker input {
  width: 100px;
  border: 0 !important;
  border-radius: 0 !important;
}

.timepicker {
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns: 5% 95%;
}

.timepicker div {
  grid-column: 1 / span 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Symbol";
  font-size: larger;

}

.timepicker input {
  grid-column: 2 / span 1;
  width: 100%;
  border: none !important;
  padding-left: 20px;
}

.task-description {
  grid-column: 1 / span 2;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  border: none !important;
  width: 100%;
  height: 100px;
}

.task-description-inactive {
  height: 50px !important;
  padding: 0;
}

textarea {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.label-div {
  grid-column: 1 / span 1;
  grid-row: 4;
  display: grid;
  grid-template-columns: 30% 10% auto;
  width: 100%;
}

.fa-check-circle {
  padding-top: 15px;
  color: darkgray;
  margin: 0 auto;
  cursor: pointer;
}

.fa-check-circle:hover {
  color: #28a745;
}

app-label-add {
  padding-left: 20px;
}

ng-multiselect-dropdown {
  padding: 2px;
  margin: 5px;
  background-color: #f3f3f3;
  color: darkgray;
  min-width: 75px;
  width: auto;
  text-align: center;
  border-radius: 5px;
}

.create-task-btn {
  grid-column: 3 / span 1;
  margin: 0 auto;
}


/*----------------------------------------------------------------------------*/
.list-of-tasks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media (max-width: 1920px) {
  .list-of-tasks {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1350px) {
  .list-of-tasks {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
.list-of-tasks {
  grid-template-columns: 1fr 1fr;
}
}

@media (max-width: 750px) {
  .list-of-tasks {
    grid-template-columns: 1fr;
  }
}

.task-input {
  padding-top: 50px;
  width: 80%;
  padding-left: 15%;
  text-align: center;
}

.taskList {
  margin-top: 5%;
}

.task-name-input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0 !important;
}

.task-list-header {
  text-align: left;
  color: gray;
}

 :host /deep/ .multiselect-dropdown[_ngcontent-c5]   .dropdown-btn[_ngcontent-c5] {
  display: inline-block;
  border: 0 !important;
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.52857143;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 4px
}

:host /deep/ @media only screen and (max-width: 900px) {
  [class*="col-"] {
    width: 100% !important;
  }
}

