<div class="row task-list-item border">
  <div class="col conceal" #taskId>{{listItem._id}}</div>
  <div class="time"><strong>{{listItem.start_time | date: 'dd MMM'}}</strong></div>
  <div class="task-name">{{listItem.name}}</div>
  <div class="duration">{{listItem.duration}} mins</div>
  <div class="edit-buttons">
    <button type="button" class="btn btn-success edit-button" [ngbPopover]="popOver" container="body"><i class="fas fa-check-circle"></i></button>
    <button type="button" class="btn btn-danger" (click)="deleteTask(i)"><i class="fas fa-times-circle"></i></button>
  </div>
</div>

<ng-template class="task-popover" #popOver >
  <app-task-popover [activeTask]="listItem" (closePop)="popOver.close()" (completeTask)="emitComplete($event)"></app-task-popover>
</ng-template>
