<div class="task-enter">
  <form>
    <div class="edit-task-header"
    >
      <div class="time-date-picker"
           *ngIf="!almostCompleted">
        <div class="datepicker">
          <input
            placeholder="{{activeTask.start_time | date: 'dd-MMM'}}"
            value="{{activeTask.start_time | date: 'dd-MMM'}}"
            name="dp"
            [(ngModel)]="start_time"
            ngbDatepicker #d="ngbDatepicker"
            autocomplete="off"
            (click)="d.toggle()"
          >
        </div>

        <div class="timepicker">
          <div>/</div>
          <input
            [(ngModel)]="duration"
            name="duration"
            type="number"
            placeholder="{{activeTask.duration}}"
            value="{{activeTask.duration}}"
            autocomplete="off"
            aria-label=""
            aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="close-popover-button">
        <i class="fas fa-times-circle" (click)="taskUpdate();"></i>
      </div>
    </div>

    <!--name-->
    <div class="task-description">
      <p class="row"
         *ngIf="almostCompleted"
         id="completed-header"
      >Enter the time you started and submit the task</p>
      <div class="complete-task row" *ngIf="almostCompleted">
        <ngb-timepicker
          [(ngModel)]="time"
          id="time-input"
          name="time"
          [meridian]="meridian"
          [minuteStep]="minuteStep"
        ></ngb-timepicker>
      </div>
      <div>
        <button mat-button
                class="complete-button row"
                (click)="taskFinished();"
                *ngIf="almostCompleted"
                id="completed-submit"
        >Submit</button>
      </div>
      <textarea
        [(ngModel)]="name"
        name="name"
        class="task-name-input"
        placeholder="{{activeTask.name}}"
        *ngIf="!almostCompleted"
      >
        {{activeTask.name}}
      </textarea>
    </div>

    <div class="label-div"
         *ngIf="!almostCompleted"

    >
      <!--labels-->
      <ng-multiselect-dropdown
        [placeholder]="'Labels'"
        [data]="labels"
        [(ngModel)]="label"
        [settings]="dropdownSettings"
        name="label"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (onDeSelect)="onItemDeSelect($event)"
      >
      </ng-multiselect-dropdown>
      <app-label-add (createdLabel)="newLabelToList($event)"></app-label-add>
      <div>
        <i class="fas fa-check-circle" (click)="almostCompleted = true;"></i>
      </div>
    </div>
  </form>
</div>


