<div class="task-input">
  <form (ngSubmit)="taskUpdate()">

    <!--name-->
    <div class="row form-group mb-3 col-md">
      <label for="task-name-input">Task Name:</label>
      <input
        [(ngModel)]="name"
        name="name"
        type="text"
        id="task-name-input"
        class="form-control task-name-input"
        value="{{activeTask.name}}"
        placeholder="{{activeTask.name}}"
        aria-label=""
        aria-describedby="basic-addon1">
    </div>

    <!--labels-->
    <div class="row col-md">
      <label for="label-input">Labels:</label>
    </div>
    <div class="row input-group mb-3 col-md">
      <select
        [(ngModel)]="label"
        name="label"
        class="custom-select"
        id="label-input"
        required
      >
        <option [ngValue]="undefined" disabled selected>Labels</option>
        <option *ngFor="let label of labels" value="{{label._id}}">{{label.name}}</option>
      </select>
      <div class="input-group-append">
        <app-label-add (createdLabel)="newLabelToList($event)"></app-label-add>
      </div>
    </div>


    <!--start date-->
    <div class="row col-md">
      <label for="start-time-input">When will you work on this task?</label>
    </div>
    <div class="input-group row mb-3 col-md">
      <input
        class="form-control"
        placeholder="{{activeTask.start_time | date: 'dd-MMM'}}"
        name="dp"
        [(ngModel)]="start_time"
        ngbDatepicker #d="ngbDatepicker"
        id="start-time-input"
      >
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <i class="far fa-calendar-alt" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
        </button>
      </div>
    </div>

    <!--duration-->
    <div class="row form-group mb-3 col-md">
      <label for="duration-input">How many minutes will it take you?</label>
      <input
        [(ngModel)]="duration"
        name="duration"
        id="duration-input"
        type="number"
        class="form-control"
        placeholder="{{activeTask.duration}}"
        value="{{activeTask.duration}}"
        aria-label=""
        aria-describedby="basic-addon1">
    </div>

    <button type="submit" class="btn btn-dark btn-lg">Update Task</button>
  </form>
</div>

