html, body {
  min-width: 100%;
}

* {
  box-sizing: border-box;
}

@media only screen and (min-width: 1000px){
  app-dashboard, app-tasks, app-labels, app-projects {
    padding-left: 250px;
    padding-right: 250px;
  }
}

