.dropdown-toggle::after {
  display:none;
}

.dropdown-menu.show {
  height: 50px;
}

.label-add-btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.fa-plus-circle {
  color: darkgray;
  margin: 15px auto;
  cursor: pointer;
}

.fa-plus-circle:hover {
  color: lightslategrey;
}
