<div ngbDropdown #labelDrop="ngbDropdown" role="group" aria-label="Button group with nested dropdown">
  <i ngbDropdownToggle class="fas fa-plus-circle"></i>
  <div class="dropdown-menu" ngbDropdownMenu>
    <form (keydown)="onNewLabel($event)">
      <div class="label-add-input">
        <input
          [(ngModel)]="labelName"
          name="labelName"
          type="text"
          class="dropdown-item"
          placeholder="Add New Label"
          aria-label=""
          aria-describedby="basic-addon1">
      </div>
    </form>
  </div>
</div>
